/* 导航栏 */
.nav-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.after-login{
    display: none;
}
/* 模态框 */
.modal-box{
    width: 80%;
    margin: 10px auto 20px;
}
/* 货物表格 */
.table-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
tr td:first-child{
	width: 120px;
}
tr td{
	width: 200px;
	height: 40px;
}
tr td.qw{
	position: relative;
}
tr td input{
	padding-left: 5px;
	width: 40px;
	height: 100%;
	display: inline-block;
}
/* 分页 */
.dvPages{
	text-align: center;
}
.after-login{
	display: none;
}
.carBox{
	position: relative;
}
.carBox span{
	color: #fff;
	text-align: center;
	position: absolute;
	left: 55px;
	top: 8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	font-size: 12px;
}
.reduce{
	top: 5px;
	left: 60px;
	position: absolute;
}
.add{
	top: 20px;
	left: 60px;
	position: absolute;
}